# Ignore Firebase access files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/firebase-config.js

.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode
build/*
